{% if domain_knowledge -%}
Domain knowledge:
{{ domain_knowledge }}
{% endif -%}
{% if domain_knowledge and user_preferences -%}

{% endif -%}
{% if user_preferences -%}
User preferences: {{ user_preferences }}
{% endif %}
